<header class="header">
  <a class="header__brand" routerLink="/">
    <fa-icon [icon]="faUtensils"></fa-icon>
    <span class="header__name">Cafe Samui</span>
  </a>
  <nav class="header_nav">
    <a class="header__nav-link" routerLink="/menu" routerLinkActive="header__nav-link--active"
      >Menu</a
    >
    <a class="header__nav-link" routerLink="/about" routerLinkActive="header__nav-link--active"
      >About</a
    >
    <a class="header__nav-link header_nav-link-last" href="mailto:your-email@example.com"
      >Contact Us</a
    >
    <app-button routerLink="/menu">Order Now</app-button>
  </nav>
  <div class="header__actions">
    <fa-icon [icon]="faBagShopping" (click)="openCart()"></fa-icon>
    @if (authService.currentCustomer(); as customer) {
      <div class="account-menu">
        <button class="account-button" type="button" (click)="toggleAccountMenu()">
          <fa-icon [icon]="faUser"></fa-icon>
          <span>{{ customer.firstName }}</span>
        </button>

        @if (accountMenuOpen()) {
          <div class="account-menu__dropdown">
            <button type="button">My Account</button>
            <button type="button">Order History</button>
            <button class="account-menu__signout" type="button" (click)="signOut()">
              Sign Out
            </button>
          </div>
        }
      </div>
    } @else {
      <app-button variant="account" (click)="modalService.open('sign-in')">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Sign In/Join</span>
      </app-button>
    }
  </div>
</header>
