<header class="header">
  <a class="header__brand" routerLink="/">
    <img
      src="https://res.cloudinary.com/zo058cum/image/upload/w_400,c_fill,q_auto,f_auto/v1788734822/Cafe_Samui_LOGO_PNG_COLOR_tk3ozy.png"
      alt="Cafe Samui"
      class="header__logo"
    />
  </a>
  <nav class="header__nav">
    <a class="header__nav-link" routerLink="/menu" routerLinkActive="header__nav-link--active"
      >Menu</a
    >
    <a class="header__nav-link" routerLink="/about" routerLinkActive="header__nav-link--active"
      >About</a
    >
    <a class="header__nav-link header_nav-link-last" href="mailto:your-email@example.com"
      >Contact Us</a
    >
    <app-button routerLink="/menu">Order Now</app-button>
  </nav>
  <div class="header__actions">
    <div class="account-menu">
      <button class="account-button">
        <fa-icon
          [icon]="faBagShopping"
          (click)="openCart()"
          class="header__action-buttons"
        ></fa-icon>
      </button>
    </div>
    @if (authService.currentCustomer(); as customer) {
      <div class="account-menu">
        <button class="account-button" type="button" (click)="toggleAccountMenu()">
          <fa-icon [icon]="faUser" class="header__action-buttons"></fa-icon>
          <span>{{ customer.firstName }}</span>
        </button>

        @if (accountMenuOpen()) {
          <div class="account-menu__dropdown">
            <button type="button">My Account</button>
            <button type="button">Order History</button>
            <button class="account-menu__signout" type="button" (click)="signOut()">
              Sign Out
            </button>
          </div>
        }
      </div>
    } @else {
      <button class="account-button" (click)="modalService.open('sign-in')">
        <fa-icon [icon]="faUser" class="header__action-button"></fa-icon>
        <span>Sign In/Join</span>
      </button>
    }
  </div>
</header>
