<section class="cart-modal">
  <header class="cart-modal__header">
    <h2>Pickup Time At {{ estimatedReadyTime | date: 'h:mm a' }}</h2>
  </header>
  <div class="cart-modal__body">
    @for (item of cartService.cart().items; track item.cartItemId) {
      <article class="cart-item">
        <h3>{{ item.name }}</h3>

        <p>{{ item.totalPrice | currency: 'USD' }}</p>

        <!-- <div class="cart-item__quantity">
          <button type="button" (click)="cartService.decreaseQuantity(item.cartItemId)">-</button>
          <span>{{ item.quantity }}</span>
          <button type="button" (click)="cartService.increaseQuantity(item.cartItemId)">+</button>
        </div> -->
        <label>
          Quantity
          <select [value]="item.quantity" (change)="onQuantityChange(item.cartItemId, $event)">
            @for (quantity of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track quantity) {
              <option [value]="quantity" [selected]="quantity === item.quantity">
                {{ quantity }}
              </option>
            }
          </select>
        </label>
        <button type="button" (click)="cartService.removeItem(item.cartItemId)">Remove</button>

        @if (item.customizations.length > 0) {
          <ul>
            @for (customization of item.customizations; track customization.id) {
              <li>
                {{ customization.modifierType }}{{ customization.ingredientName }}
                @if (customization.priceAdjustment > 0) {
                  (+{{ customization.priceAdjustment | currency: 'USD' }})
                }
              </li>
            }
          </ul>
        }
        @if (item.additionalInstructions) {
          <p>{{ item.additionalInstructions }}</p>
        }
      </article>
    } @empty {
      <p>Your Cart is empty.</p>
    }
  </div>
  <div class="cart-modal__summary">
    <span>{{ cartService.itemCount() }} items</span>
    <strong>Subtotal: {{ cartService.subtTotal() | currency: 'USD' }}</strong>
  </div>
</section>
