<section class="cart-modal">
  <header class="cart-modal__header">
    <h2>Pickup Time At {{ estimatedReadyTime | date: 'h:mm a' }}</h2>
  </header>
  <div class="cart-modal__body">
    @for (item of cartService.cart().items; track item.cartItemId) {
      <article class="cart-item">
        <div class="cart-item__description">
          <h3 class="cart-item__description-title">{{ item.name }}</h3>
          @if (item.customizations.length > 0) {
            <ul>
              @for (customization of item.customizations; track customization.id) {
                <li>
                  {{ customization.modifierType }}{{ customization.ingredientName }}
                  @if (customization.priceAdjustment > 0) {
                    (+{{ customization.priceAdjustment | currency: 'USD' }})
                  }
                </li>
              }
            </ul>
          }
          @if (item.additionalInstructions) {
            <p class="cart-item__additional-instructions">{{ item.additionalInstructions }}</p>
          }
        </div>

        <div class="cart-item__interactions">
          <div class="cart-item__ordering">
            <label>
              <select
                [value]="item.quantity"
                class="cart-item__ordering-selections"
                (change)="onQuantityChange(item.cartItemId, $event)"
              >
                @for (
                  quantity of [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                    23, 24, 25,
                  ];
                  track quantity
                ) {
                  <option [value]="quantity" [selected]="quantity === item.quantity">
                    {{ quantity }}
                  </option>
                }
              </select>
            </label>
            <p class="cart-item__dish-price">{{ item.totalPrice | currency: 'USD' }}</p>
          </div>
          <div class="cart-item__buttons">
            <button type="button" class="cart-item__action" (click)="modifyItem(item)">
              Modify
            </button>
            <button
              type="button"
              class="cart-item__action"
              (click)="cartService.removeItem(item.cartItemId)"
            >
              Remove
            </button>
          </div>
        </div>
      </article>
    } @empty {
      <p>Your Cart is empty.</p>
    }
  </div>
  <div class="cart-modal__summary">
    <div class="cart-modal__summary-info">
      <span>{{ cartService.itemCount() }} item(s)</span>
      <strong>Bag Total: {{ cartService.subTotal() | currency: 'USD' }}</strong>
    </div>
    <div class="cart-modal__summary-buttons">
      <app-button variant="secondary" click="modalService.close()"> Add More Items </app-button>
      <app-button (click)="checkout()"> Checkout </app-button>
    </div>
  </div>
</section>
