@if (modalService.activeModal() !== null) {
  <div class="modal-backdrop">
    <button
      type="button"
      class="modal-backdrop__close"
      (click)="modalService.close()"
      aria-label="Close Modal"
    >
      <span class="visually-hidden">Close Modal</span>
    </button>

    @if (modalService.activeModal() === 'sign-in') {
      <div class="modal modal--account">
        <app-sign-in />
      </div>
    }
    @if (modalService.activeModal() === 'sign-up') {
      <div class="modal modal--account">
        <app-sign-up />
      </div>
    }
    @if (modalService.activeModal() === 'menu-item') {
      <div class="modal modal--menu-item">
        <app-menu-item-modal />
      </div>
    }
    @if (modalService.activeModal() === 'cart') {
      <div class="modal modal--cart">
        <app-cart-modal />
      </div>
    }
  </div>
}
