.menu__tabs {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

.menu__tab {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .35rem;
    width: min(22rem, 45vw);
    padding: 1rem 0.5rem;
    border: 0;
    background: transparent;
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;

        width: 36%;
        height: 2px;

        background-color: transparent;
    }

    &--active::after {
        background-color: var(--color-bright-blue);
    }
}

.menu__tab-title {
    position: relative;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3rem;
}

.menu__tab-hours {
    font-size: 0.85rem;
    font-weight: 400;
}

.menu__category {
    margin-bottom: 3rem;
}
.menu__category-title {
    color: var(--color-primarys)
}
.menu__items {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 1.5rem;
}